MVC5_DashBoard/Config/ConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ND.MonitorDasboard.Web.Config" elementFormDefault="qualified" targetNamespace="urn:ND.MonitorDasboard.Web.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="monitorDashoardConfiguration" type="tns:ND.MonitorDasboard.Web.Config.MonitorDashoardConfigurationCT" />
	<xs:complexType name="ND.MonitorDasboard.Web.Config.MonitorCT">
		<xs:attribute name="applicationCode" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApplicationCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="applicationName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApplicationName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="remotePort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The RemotePort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.NodeCT">
		<xs:attribute name="machineName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MachineName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lifeResult" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The LifeResult.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.ClusterCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="nodes" type="tns:ND.MonitorDasboard.Web.Config.NodesCT">
				<xs:annotation>
					<xs:documentation>The Nodes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="environment" type="tns:ND.MonitorDasboard.Web.Config.EnvironmentCT">
				<xs:annotation>
					<xs:documentation>The Environment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="code" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Label.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.MonitorsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="monitor" type="tns:ND.MonitorDasboard.Web.Config.MonitorCT">
				<xs:annotation>
					<xs:documentation>The Monitor Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.NodesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="node" type="tns:ND.MonitorDasboard.Web.Config.NodeCT">
				<xs:annotation>
					<xs:documentation>The Node Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.EnvironmentCT">
		<xs:attribute name="code" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Label.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.ClustersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="cluster" type="tns:ND.MonitorDasboard.Web.Config.ClusterCT">
				<xs:annotation>
					<xs:documentation>The Cluster Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ND.MonitorDasboard.Web.Config.MonitorDashoardConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="clusters" type="tns:ND.MonitorDasboard.Web.Config.ClustersCT">
				<xs:annotation>
					<xs:documentation>The Clusters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="monitors" type="tns:ND.MonitorDasboard.Web.Config.MonitorsCT">
				<xs:annotation>
					<xs:documentation>The Monitors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
